fir_ser/.idea/
fir_ser/db.sqlite3
*.pyc
fir_ser/venv/
fir_client/.idea
fir_admin/.idea/.gitignore
fir_admin/.idea/
fir_client/yarn.lock
fir_download/package-lock.json
fir_client/src/assets/down_left.png
fir_client/src/assets/down_right.png
mailhtml/build/
mailhtml/node_modules/
mailhtml/.idea/
