celery==5.3.6
django-celery-results==2.5.1
django-celery-beat==2.6.0
Django==4.2.30
djangorestframework==3.15.2
djangorestframework-xml==2.0.0
django-simple-captcha==0.6.0
mysqlclient==2.2.8
django-redis==5.4.0
dnspython==2.2.1
oss2==2.16.0
aliyun-python-sdk-sts==3.1.0
qiniu==7.9.0
xmltodict==0.13.0
pycryptodome==3.23.0
pyOpenSSL==24.3.0
cryptography==44.0.2
paramiko==3.5.0
PyJWT==2.5.0
python-daemon==2.3.2
psutil==6.1.1
flower==2.0.1
django-proxy==1.2.1
uWSGI==2.0.29
django-cors-headers==4.3.1
django-filter==23.5
