celery==5.2.7
django-celery-results==2.4.0
django-celery-beat==2.3.0
Django==4.0.8
djangorestframework==3.14.0
djangorestframework-xml==2.0.0
django-simple-captcha==0.5.17
mysqlclient==2.1.1
django-redis==5.2.0
dnspython==2.2.1
oss2==2.16.0
aliyun-python-sdk-sts==3.1.0
qiniu==7.9.0
xmltodict==0.13.0
pyOpenSSL==22.1.0
paramiko==2.11.0
PyJWT==2.5.0
python-daemon==2.3.1
psutil==5.9.2
flower==1.2.0
django-proxy==1.2.1
uWSGI==2.0.20
django-cors-headers==3.13.0
django-filter==22.1