aliyun-python-sdk-core==2.13.15
aliyun-python-sdk-core-v3==2.13.11
aliyun-python-sdk-kms==2.10.1
aliyun-python-sdk-sts==3.0.1
androguard==3.3.5
APScheduler==3.6.3
asgiref==3.2.3
asn1crypto==1.3.0
backcall==0.1.0
bcrypt==3.1.7
biplist==1.0.3
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.0
colorama==0.4.3
construct==2.10.61
crcmod==1.7
cryptography==3.4.6
cycler==0.10.0
decorator==4.4.2
Django==3.0.3
django-apscheduler==0.3.0
django-qrcode==0.3
django-ranged-response==0.2.0
django-redis==4.11.0
django-rest-framework==0.1.0
django-simple-captcha==0.5.12
djangorestframework==3.11.0
dnspython==1.16.0
drf-extensions==0.6.0
future==0.18.2
idna==2.9
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.16.0
jmespath==0.9.5
kiwisolver==1.1.0
lxml==4.6.2
matplotlib==3.2.0
memoizer==0.0.1
mysqlclient==1.4.6
networkx==2.4
numpy==1.18.1
oss2==2.9.1
paramiko==2.7.1
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
prompt-toolkit==3.0.3
ptyprocess==0.6.0
pyasn1==0.4.8
pycparser==2.20
pycryptodome==3.10.1
pydot==1.4.1
Pygments==2.5.2
PyJWT==1.7.1
PyMySQL==0.9.3
PyNaCl==1.3.0
pyOpenSSL==20.0.1
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
qiniu==7.2.8
redis==3.4.1
requests==2.23.0
rsa==4.7.2
six==1.14.0
sqlparse==0.3.1
traitlets==4.3.3
tzlocal==2.0.0
urllib3==1.25.8
uWSGI==2.0.18
wcwidth==0.1.8
xmltodict==0.12.0