<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <link href="<%= BASE_URL %>favicon.ico" rel="icon">
    <script src="<%= BASE_URL %>gt.js"></script>
    <title>应用下载</title>
</head>
<body>
<noscript>
    <strong>We're sorry but fly doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
<div id="download"></div>
<!-- built files will be auto injected -->
</body>
</html>
